.card-efect:hover {
    transform: scale(1.15);
    background-image: linear-gradient(to right, #6b73e9, #1622cc);
}

.card-efect {
    transition: all 0.3s;
    border-radius: 10px;
}

.card-efect:hover h5,
.card-efect:hover h3 {
    color: #fff !important;
    transition: color 0.3s;
}

.card-efect:hover img {
    transform: scale(1.3); /* Escala la imagen al hacer hover */
    transition: transform 0.3s; /* Aplica transición al transform */
}